[user]
	email = jeremy@thehipbot.com
	name = Jeremy \"TheHipbot\" Chambers
[push]
    default = simple
[alias]
	# abbreviations
    st = status -s
    co = checkout
    br = branch
	co = checkout
	cp = cherry-pick
	stat = status
	pullr = pull --rebase
[core]
	editor = vim
	autocrlf = false
	excludesfile = ~/.gitignore_global