[user]
		email = jeremy@thehipbot.com
		name = Jeremy \"TheHipbot\" Chambers
[push]
    	default = simple
[alias]
		# abbreviations
		st = status
		co = checkout
		br = branch
		co = checkout
		cp = cherry-pick
		pullr = pull --rebase
[core]
		editor = vim
		autocrlf = false
		excludesfile = ~/.gitignore_global
[credential]
		helper = osxkeychain